/* 样式重置 */
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,td,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset,iframe{border:0; }
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
body,html{
    width: 100%;
}
/* 视屏 */
.video video {
    width: 100%;
    position: relative;
}
.video1{
    position: absolute;
    top: 0;
    left: 0;
}
.head{
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}
.head1{
    width: 1300px;
    height: 61px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.head1_1{
    width: 180px;
    margin-top: 8px;
}
.head1_1 img{
    width: 100%;
}
.head1_2{
    display: flex;
    
}
.head1_2 li{
    width: 100px;
    height: 61px;
    color: white;
    line-height: 61px;
    text-align: center;
}
.head1_2 li:hover{
    background-color: white;
    color: #000;
}
.inner{
    width: 100%;
    margin-top: 40px;
}
.inner1{
    width: 300px;
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
}
.int > div.active{
    display: block;
}
.body1{
    width: 543px;
    height: auto;
    margin: 0 auto;
    position: fixed;
   top: 50px;
   left: 500px;
}

.mailbox1{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}
.mailbox1 li{
    width: 180px;
    height: 46px;
    font-size: 16px;
    color: #7f7f7f;
    text-align: center;
    line-height: 46px;
    border-bottom:2px solid gray ;
    cursor: pointer;
    /* border-radius: 15px; */
}
.mailbox1 li.active{
    background-color: #f66f6a;
    color: white;
    border-radius: 15px;
}
/* <!-- 帐号/邮箱登录 出现区域 --> */
.formBox{
    display: none;
}
.formBox input{
    margin-top: 30px;
    width: 535px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
}

/* <!-- 手机号登录 出现区域 --> */
.cellphone{
    display: none;
}
.cellphone1 select{
    width: 150px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
}
.cellphone1  input{
    width: 350px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
}


/* 注册页面显示区域 */

.register1{
    display: flex;
}
.register1 div{
    width: 250px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.register1{
    margin-top: 20px;
}
.register{
    display: none;
}
.form1{
    display: none;
}
.form2{
    display: none;
}
.register form.active{
   display: block;
}
.register form.active{
    display: block;
}
.register1 div.active{
    background-color: #88a9ce;
}
.register form{
    font-size: 15px;
}
.register form input{
    width: 400px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.register form input:nth-of-type(2){
    margin-left: 44px;
}
.register form input:nth-of-type(3){
    margin-left: 44px;
}
.register form input:nth-of-type(4){
    margin-left: 14px;
}
.register .form2{
    font-size: 15px;
}
.register .form2 input{
    width: 400px;
    height: 30px;
    margin-top: 20px;
}
.register .form2 input:nth-of-type(1){
    margin-left: 30px;
}
.register .form2 input:nth-of-type(2){
    margin-left: 30px;
}
.register .form2 input:nth-of-type(3){
    margin-left: 44px;
}
.register .form2 input:nth-of-type(4){
    margin-left: 44px;
}
.register .form2 input:nth-of-type(5){
    margin-left: 14px;
}

.but,.but1,.but2,.but3{
    width: 543px;
    height: 50px;
    background-color: #f66f6a;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
}

.base{
    width: 100%;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    left: 0;
}
.base1{
    width: 691px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    color: #616161;
    
}
.base1 span:nth-child(2){
    color: blue;
}
.base1 span:nth-child(2):hover{
    text-decoration: underline;
}