<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>华为商城购物车</title>
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="icon" href="../img/index16.png" type="image/x-icon" />
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/data.js"></script>
</head>

<body>
    <!-- 顶部黑色通栏 -->
    <div class="head">
        <div class="head1">
            <div class="head1_1">
                <a href="./index.html" style="color: white;"><span>首页</span></a>

                <span>|</span>
                <span>华为官网</span><span>|</span>
                <span>花粉俱乐部</span><span>|</span>
                <span>V码（优购码）</span><span>|</span>
                <span>企业购</span><span>|</span>
                <span>Select Region</span><span>首页</span>
                <span class="span1">
                    更多精彩
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
            </div>
            <div class="head1_2">
                <span class="head11">请登录</span><a href="./password.html" style="color: wheat;"><span>注册</span></a>
                <span class="head1_2_3">退出登录</span><span>|</span>
                <span class="span2">客户服务
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
                <span class="span2">网站导航
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
                <span class="span2">手机版
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
                <span class="span2">Select Region</span>

                <span style="background-color: rgb(19, 9, 9);" class="span2">
                    <span class="iconfont icon-gouwuche"></span>
                    购物车(0)</span>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="logo1">
            <div class="logo1_1">
                <img src="../img/shopping.jpg">
            </div>
            <div class="logo1_2">我的购物车</div>
            <div class="logo1_3">
                <div class="logo1_3_1">
                    <span class="iconfont icon-quanqiuhuadaiquan"></span>
                    <span class="iconfont icon-youjiantou-sange"></span>
                    <span class="iconfont icon-youjiantou-sange"></span>
                    <span class="iconfont icon-diqiu"></span>
                    <span class="iconfont icon-youjiantou-sange"></span>
                    <span class="iconfont icon-youjiantou-sange"></span>
                    <span class="iconfont icon-diqiu"></span>
                </div>
                <div class="logo1_3_2">
                    <p>我的购物车</p>
                    <p>填写核对订单</p>
                    <p>成功提交订单</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 未登录显示区域 -->
    <div class="logout">
        <div class="logout1">
            <span class="iconfont icon-shubendaiquan"></span>
            <span>您还没有登录！登录后可查看之前加入的商品</span>
            <div class="logout2"><a href="./password.html">登录</a> </div>
        </div>
    </div>
    <!-- 购物车全选区域 -->
    <!-- js渲染区域 -->
    <div class="list">
        <!-- <div class="list1">
            <div class="list1_1">
                <input type="checkbox">全选
            </div>
            <div class="list1_2">
                商品
            </div>
            <div class="list1_3">
                单价
            </div>
            <div class="list1_4">
                数量
            </div>
            <div class="list1_5">
               小计
            </div>
            <div class="list1_5">
                操作
            </div>
        </div> 
        
       <div class="list2">
            <div class="list2_1">
                <input type="checkbox" >
            </div>
            <div class="list2_2">
                <img
                    src="https://res.vmallres.com/pimages//uomcdn/CN/pms/202203/gbom/6941487256372/428_428_D41DCC94EF9BCA97F5B4F72F782A4ED4mp.png">
            </div>
            <div class="list2_3">
                HUAWEI Mate X2 5G 全网通 12GB+512GB（釉白色）典藏版
                釉白色 5G全网通 12GB+512GB 典藏版 官方标配（无充电套装）
            </div>
            <div class="list2_4">
                ￥18999.00
            </div>
            <div class="list2_5">
                <button class="s1">-</button>
                <div class="s2">1</div>
                
                <button class="s3">+</button>
            </div>
            <div class="list2_6">
                ￥18999.00
            </div>
            <div class="list2_7">
                删除
            </div>
        </div> 
      
        <div class="list3">
             <div class="list3_1">
                <input type="checkbox">全选
                <span>删除</span>
            </div>
            <div class="list3_2">
                <div class="list4">
                    <p class="list4_1">
                        <span>总计：</span><span>￥21298.00</span>
                    </p>
                    <p class="list4_2">
                        <span>已选择</span><span>1</span><span>件商品,优惠：</span><span>0.00</span>
                    </p>
                </div>
                <div class="list5">立即结算</div>
            </div> 
        </div> -->
    </div>
    <div class="nocart">
        <div class="nocart1">
            <div class="nocart1_1">
                <span class="iconfont icon-gouwuche"></span>
                <span class="iconfont icon-guanbishixin"></span>
            </div>
            <div class="nocart1_2">你的购物车里什么都没有偶^-^ ^-^ ^-^ ^-^ ^-^-^</div>
            <div class="nocart1_3">
                <a href="./shopping.html">去逛逛</a>
            </div>
        </div>
    </div>
</body>
<script src="../js/cart.js"></script>

</html>