<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>华为首页</title>
    <link rel="icon" href="../img/index16.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../../node_modules/swiper/swiper-bundle.min.css">
    <!-- 第二种span 引入字体图标 -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <script src="../../node_modules/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <!-- black 最上面 -->
    <div class="head">
        <div></div>
        <div class="black1">
            <ul class="head1">
                <li class="bh1">
                    <div class="bh11">
                        <span class="iconfont icon-icon-test"></span>
                        <span>集团网站</span>
                        <span class="iconfont icon-xiajiantou"></span>
                        <span class="iconfont icon-shangjiantou"></span>
                    </div>
                </li>
                <li class="bh2">
                    <span class="iconfont icon-diqiu"></span>
                    <span>选择区域/语言</span>
                    <span class="iconfont icon-xiajiantou"></span>
                </li>
                <li class="bh3">
                    <span class="iconfont icon-denglu"></span>
                    <a href="./password.html" style="color: white;"><span>登录</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- block 隐藏区域  bh1-->
    <div class="bh1_1">
        <ul class="list2_1">
            <li>
                <div class="div1">
                    <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    <span class="ji" style="font-weight: bolder;">集团网站</span>
                </div>
                <p>公司介绍、新闻动态、展会活动等信息</p>
            </li>
            <li>
                <div class="div1">

                    <span class="ji">消费者业务网站</span>
                    <span class="iconfont icon-youjiantou"></span>
                </div>
                <p>手机，PC和平板等智慧生活产品</p>
            </li>
            <li>
                <div class="div1">
                    <span class="ji">企业业务网站</span>
                    <span class="iconfont icon-youjiantou"></span>
                </div>
                <p>企业商用产品、解决方案和云服<br>务</p>
            </li>
            <li>
                <div class="div1">
                    <span class="ji">运营商网络</span>
                    <span class="iconfont icon-youjiantou"></span>
                </div>
                <p>运营商网络解决方案、产品及服<br>务</p>
            </li>
            <li>
                <div class="div1">
                    <span class="ji">华为云网站</span>
                    <span class="iconfont icon-youjiantou"></span>
                </div>
                <p>华为云服务及解决方案</p>
            </li>

        </ul>
    </div>
    <!--  语言 隐藏区域  bh2-->
    <div class="bh2_1">
        <div class="bhcenter">
            <div class="bh2_2">选择区域/语言</div>
            <div class="bh2_3">
                <ul>
                    <li>Australia - <span class="lang">English</span></li>
                    <li>France - <span class="lang">Français</span></li>
                    <li>Kazakstan - <span class="lang">Pусский</span></li>
                    <li>New Zealand - <span class="lang">English</span></li>
                    <li>Spain - <span class="lang">Español</span></li>
                    <li>United Kingdom - <span class="lang">English</span></li>
                    <li>Global- <span class="lang">English</span></li>
                </ul>
                <ul>
                    <li>Belarus - <span class="lang">Pусский</span></li>
                    <li>Germany - <span class="lang">Deutsch </span></li>
                    <li>Kenya - <span class="lang">English</span></li>
                    <li>Netherlands - <span class="lang">Dutch </span></li>
                    <li>Switzerland - <span class="lang">English</span></li>
                    <li>United States - <span class="lang">English</span></li>
                </ul>
                <ul>
                    <li>Brazil - <span class="lang">Portuguese</span></li>
                    <li>Ireland - <span class="lang">English </span></li>
                    <li>Korea - <span class="lang">한국어</span></li>
                    <li>Romania -<span class="lang"> Română </span></li>
                    <li>Thailand - <span class="lang">ภาษาไทย</span></li>
                    <li>Uzbekistan - <span class="lang">Pусскийh</span></li>
                </ul>
                <ul>
                    <li>Canada - <span class="lang">English</span></li>
                    <li>Italy - <span class="lang">Italiano </span></li>
                    <li>Malaysia - <span class="lang">English</span></li>
                    <li>Russia - <span class="lang"> Pусский</span></li>
                    <li>Turkey - <span class="lang">Türkiye</span></li>
                    <li>Uzbekistan - <span class="lang">O’zbek</span></li>
                </ul>
                <ul>
                    <li style="font-weight: bolder; color: #000;"><span class="iconfont icon-youjiantou"
                            style="color: red;"></span>
                        China - <span class="lang">简体中文</span></li>
                    <li>Japan - <span class="lang">日本語 </span></li>
                    <li>Mexico - <span class="lang">Español</span></li>
                    <li>South Africa - <span class="lang">English</span></li>
                    <li>Ukraine - <span class="lang">Українська</span></li>
                    <li>Vietnam - <span class="lang">Tiếng Việt</span></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- logo 区域 -->
    <div class="logo">
        <div class="logo_1">
            <img src="../img/huawei_logo.png">
        </div>
        <div class="logo_2">
            <ul class="list1">
                <li>个人及家庭产品</li>
                <li>商用产品及方案</li>
                <li>服务支持</li>
                <li>合作伙伴与开发者</li>
                <li>关于华为</li>
            </ul>
        </div>
        <div class="logo_3">
            <ul class="lo1">
                <li>
                    <span class="iconfont icon-jiesuo"></span>
                    <span>在线购买</span>
                    <span class="iconfont icon-xiajiantou"></span>
                </li>
                <li>
                    <span class="iconfont icon-search"></span>
                </li>
            </ul>
            <!--  logo_3 隐藏区域-->
            <ul class="logo_4">
                <li>
                    <div class="log4_1">
                        <span class="iconfont icon-shangpushangchengshouyefangzi"></span>
                        <a href="./shopping.html"><span>华为商城</span></a>
                    </div>
                    <div class="log4_2">
                        <span class="iconfont icon-shangpushangchengshouyefangzi"></span>
                        <span>华为云</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- logo_2 个人及家庭产品 隐藏区域 -->
    <div class="logo2_1">
        <div class="logo2_2">
            <ul class="logo2_3">
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-yyicon1"></span>
                    <P class="lang1"><span>手机</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-diannao"></span>
                    <P class="lang1"><span>电脑</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-pad"></span>
                    <P class="lang1"><span>平板</span></P>
                </li></a>
               <a href="./shopping.html"> <li>
                    <span class="iconfont icon-dianshijitv"></span>
                    <P class="lang1"><span>智慧屏</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-xingzhuang"></span>
                    <P class="lang1"><span>VR眼镜</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-shoubiao"></span>
                    <P class="lang1"><span>穿戴</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-erji"></span>
                    <P class="lang1"><span>耳机音响</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-luyouqi-"></span>
                    <P class="lang1"><span>路由器</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-HarmonyOS1"></span>
                    <P class="lang1"><span>HarmonyOS</span></P>
                </li></a>
                <a href="./shopping.html"><li>
                    <span class="iconfont icon-rightarrow"></span>
                    <P class="lang1"><span>全部产品</span></P>
                </li></a>
            </ul>
            <div class="logo2_4">
                <img src="../img/index1.jpg">
            </div>

        </div>
        <div class="logo2_5">
            <div class="logo2_6">
                <span class="iconfont icon-yonghu" style="color: red;"></span>
                <span class="lang2">消费者业务网站</span>
            </div>
            <div class="logo2_7">
                <span class="iconfont icon-shangpushangchengshouyefangzi" style="color: red;"></span>
                <span class="lang2">华为商城</span>
            </div>
            <!-- logo2_5 关闭按钮 -->
            <p class="but">
                <span class="iconfont icon-guanbishixin"></span>
            </p>
        </div>
    </div>

    <!-- logo_2 商用产品及方案 商用产品及方案 -->
    <div class="shop_1">
        <div class="shop1_1">
            <div class="shop1_2">
                <div class="shop2_1">
                    <div class="shop2_1_1">产品</div>
                    <div class="shop2_1_2">
                        <ul>
                            <li style="font-size: 23px; font-weight: bolder;"><span>联接</span></li>
                            <li><span>企业无线</span></li>
                            <li><span>企业网络</span></li>
                            <li><span>企业光网络</span></li>
                            <li><span>数字能源</span></li>
                        </ul>
                        <ul>
                            <li style="font-size: 23px; font-weight: bolder;"><span>云与计算</span></li>
                            <li><span>华为云</span></li>
                            <li><span>计算</span></li>
                            <li><span>数据储存</span></li>
                            <li><span>机器视觉</span></li>
                        </ul>
                        <ul>
                            <li>&nbsp;</li>
                            <li><span>鲲鹏计算平台</span></li>
                            <li><span>昇腾AI计算</span></li>
                        </ul>
                    </div>
                </div>
                <div class="shop2_2">
                    <div class="shop2_2_1">服务</div>
                    <div class="shop2_2_2">
                        <ul>
                            <li><span>运营商网络服务</span></li>
                            <li><span>企业网络服务</span></li>
                            <li><span>华为云专业服务</span></li>
                        </ul>
                    </div>
                </div>
                <div class="shop2_3">
                    <div class="shop2_3_1">行业解决方案</div>
                    <div class="shop2_3_2">
                        <ul>
                            <li><span>华为云行业解决方案</span></li>
                            <li><span>电信行业</span></li>
                            <li><span>数字政府</span></li>
                            <li><span>智慧园区</span></li>
                            <li><span>交通行业</span></li>
                            <li><span>电力行业</span></li>
                            <li><span>金融行业</span></li>
                            <li>
                                <span>查看更多</span>
                                <span class="iconfont icon-youjiantou" style="color: red;"></span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="shop2_4">
                    <div class="shop2_4_1">热点话题</div>
                    <div class="shop2_4_2">
                        <ul>
                            <li><span>智能体</span></li>
                            <li><span>5G，点亮未来</span></li>
                            <li><span>F5G，光联万物</span></li>
                            <li><span>自动驾驶网络</span></li>
                            <li><span>IPv6+，智联无限</span></li>
                            <li><span>先进工业网络</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="but1">
                <span class="iconfont icon-guanbishixin"></span>
            </div>
            <div class="shop_2">
                <div class="lo1">
                    <span class="iconfont icon-shangpushangchengshouyefangzi" style="color: red;"></span>
                    <span>企业业务网站</span>
                </div>
                <div class="lo1">
                    <span class="iconfont icon-yonghu" style="color: red;"></span>
                    <span>运营商业务网站</span>
                </div>
                <div class="lo1">
                    <span class="iconfont icon-tubiao-" style="color: red;"></span>
                    <span>华为云网站</span>
                </div>
            </div>
        </div>
    </div>
    <!-- logo_2 个人及家庭产品 隐藏区域 -->
    <div class="serve">
        <div class="serve1">
            <div class="serve1_1">
                <div class="serve2">个人及家庭产品支持</div>
                <ul>
                    <li>
                        <span>在线客服</span>
                    </li>
                    <li><span>华为服务日</span></li>
                    <li><span>服务店查询</span></li>
                    <li><span>寄修服务</span></li>
                    <li><span>保修期及权益查询</span></li>
                    <li><span>备件价格查询</span></li>
                    <li></span>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="serve1_2">
                <div class="serve2">华为云服务支持</div>
                <ul>
                    <li><span>智能客服</span></li>
                    <li><span>新手入门</span></li>
                    <li><span>支持计划</span></li>
                    <li><span>自助服务</span></li>
                    <li><span>云社区</span></li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="serve1_3">
                <div class="serve2">企业业务支持</div>
                <ul>
                    <li><span>智能客服</span></li>
                    <li><span>产品支持</span></li>
                    <li><span>软件下载</span></li>
                    <li><span>互动社区</span></li>
                    <li><span>工具</span></li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="serve1_4">
                <div class="serve2">运营商网络支持</div>
                <ul>
                    <li><span>智能客服</span></li>
                    <li><span>产品支持</span></li>
                    <li><span>Group Space</span></li>
                    <li><span>公告</span></li>
                    <li><span>华为资料直通车</span></li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="but2">
                <span class="iconfont icon-guanbishixin"></span>
            </div>
        </div>
    </div>
    <!-- logo_2 合作伙伴与开发者 隐藏区域 -->
    <div class="join">
        <div class="join1">
            <div class="join1_1">
                <div class="join2">合作伙伴</div>
                <ul>
                    <li><span>成为合作伙伴</span></li>
                    <li><span>查找合作伙伴</span></li>
                    <li><span>云市场</span></li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="join1_2">
                <div class="join2">培训与认证</div>
                <ul>
                    <li><span>学习</span></li>
                    <li><span>华为认证</span></li>
                    <li><span>企业客户培训</span></li>
                    <li><span>华为ICT学院</span></li>
                    <li><span>华为云开发者学堂</span></li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="join1_3">
                <div class="join2">云与计算开发者</div>
                <ul>
                    <li><span>华为云</span></li>
                    <li><span>鲲鹏</span></li>
                    <li><span>昇腾</span></li>
                </ul>
            </div>
            <div class="join1_4">
                <div class="join2">终端开发者</div>
                <ul>
                    <li><span>开发</span></li>
                    <li><span>分发</span></li>
                    <li><span>变现</span></li>
                    <li><span>活动</span></li>
                    <li><span>开发者学堂</span></li>
                    <li><span>社区</span></li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou" style="color: red;"></span>
                    </li>
                </ul>
            </div>
            <div class="but3">
                <span class="iconfont icon-guanbishixin"></span>
            </div>
        </div>
    </div>
    <!-- logo_2 关于华为 隐藏区域 -->
    <div class="regards">
        <div class="regards1">
            <div class="regards1_1">
                <div class="regards2">关于华为</div>
                <div class="regards3">
                    <ul>
                        <li><span>公司介绍</span></li>
                        <li><span>公司年报</span></li>
                        <li><span>公司治理</span></li>
                        <li><span>管理层信息</span></li>
                        <li><span>招贤纳士</span></li>
                        <li><span>联系我们</span></li>
                    </ul>
                    <ul class="regul2">
                        <li><span>可持续发展</span></li>
                        <li><span>信任中心</span></li>
                        <li><span>合规与诚信</span></li>
                        <li><span>公共政策</span></li>
                        <li><span>债券投资者</span></li>
                        <li><span>供应商</span></li>
                    </ul>
                </div>
            </div>
            <div class="regards1_2">
                <div class="regards4">新闻与活动</div>
                    <ul>
                        <li><span>新闻</span></li>
                        <li><span>展会活动</span></li>
                        <li><span>媒体图库</span></li>
                    </ul>
            </div>
            <div class="regards1_3">
                <div class="regards4">发现华为</div>
                    <ul>
                        <li><span>HuaweiTech</span></li>
                        <li><span>出版物</span></li>
                    </ul>
            </div>
            <div class="regards1_4">
                <img src="../img/index2.jpg">
            </div>
            <div class="but4">
                <span class="iconfont icon-guanbishixin"></span>
            </div>
        </div>
    </div>
    <!-- banner 轮播图区域 -->
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/banner.png">
                <!-- 定位上的了解更多 -->
                <div class="know">了解更多</div>
            </div>
            <div class="swiper-slide swiper-slide1">
                <img src="../img/banner1.jpg">
                <!-- 定位上的了解更多 -->
                <div class="know1">了解更多</div>
            </div>
        </div>

        <!-- 如果需要分页器 -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 如果需要滚动条 -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    <!-- 推荐信息 -->
    <div class="recommend">
        推荐信息
    </div>
    <!-- 红格 -->
    <div class="reds"></div>
    <!-- img -->
    <div class="image_1">
        <div class="image1">
            <div class="image1_1">
                <img src="../img/index3.jpg">
                <div class="cang">
                    <p>产品</p>
                    <p>HUAWEI MateBook X Pro</p>
                    <p>入目惊鸿</p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
            <div class="image1_2">
                <img src="../img/index4.jpg">
                <div class="cang">
                    <p>产品</p>
                    <p>HUAWEI nove 9 SE</p>
                    <p>精彩，由我摄订</p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="image_2">
        <div class="image2">
            <div class="image2_1">
                <img src="../img/index5.jpg">
                <div class="cang">
                    <p>产品</p>
                    <p>HUAWEI MatePad Paper<br>墨水平板</p>
                    <p>纸笔之间，卓然成篇</p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
            <div class="image2_2">
                <img src="../img/index6.jpg">
                <div class="cang">
                    <p>产品</p>
                    <p>华为全屋智能</p>
                    <p>定义未来家</p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="image_3">
        <div class="image3">
            <div class="image3_1">
                <!-- <div class="image3_1_1"></div> -->
                <img src="../img/index9.jpg">
                <div class="cang">
                    <p>招聘</p>
                    <p>华为面向全球招聘</p>
                    <p>诚邀东欧、中欧、亚太等全球的科学家、博士、<br>
                    竞赛人才、研发工程师、优秀大学生加盟</p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
            <div class="image3_1">
                <img src="../img/index7.jpg">
                <div class="cang">
                    <p>前沿探索</p>
                    <p>憧憬6G，共同定义6G</p>
                    <p>《6g无线通信新征程》序言</p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
            <div class="image3_1">
                <img src="../img/index8.jpg">
                <div class="cang">
                    <p>《ICT新视界》</p>
                    <p>徐文伟：繁荣人才生态，共创行业<br>新价值</p>
                    <p></p>
                    <p>
                        <span>了解更多</span>
                        <span class="iconfont icon-youjiantou" ></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- big img -->
    <div class="big">
        <div class="image_4">
            <img src="../img/index13.jpg">
        </div>
        <div class="know2">了解更多</div>
    </div>

    <div class="recommend">
        新闻与活动
    </div>
    <!-- 红格 -->
    <div class="reds"></div>
    <!-- 展会活动 -->
    <div class="trade">
        <div class="trade1">
            <div class="trade1_1">
                <div class="trade2">
                    <img src="../img/index10.jpg">
                </div>
                <div class="know3">展会活动</div>
                <p style="font-weight: bolder;">2022世界移动大会</p>
                <p style="margin-top: 10px;">
                    <span class="iconfont icon-31dingwei"></span>
                    <span>西班牙,巴塞罗娜</span>
                </p>
                <p>
                    <span class="iconfont icon-rizhi"></span>
                    <span>2022年2月28日 - 3月3日</span>
                </p>
                <p style="color: gray;">
                    面向未来，华为与全球运营商、合作伙伴一起，打造<br>
                    极简、绿色、智能的ICT基础设施，坚持科技向善，<br>
                    致力于以创新的技术和产品解决方案让生活更美好...    
                </p>
            </div>
            <div class="trade1_2">
                <div class="trade3">
                    <img src="../img/index11.jpg">
                </div>
                <div class="know4">展会活动</div>
                <p style="font-weight: bolder;">2022运营转型峰会</p>
                <div class="know5">
                    <p>
                        <span class="iconfont icon-31dingwei"></span>
                        <span>西班牙,巴塞罗娜</span>
                    </p>
                    <p>
                        <span class="iconfont icon-rizhi"></span>
                        <span>2022年3月1日 - 3月2日</span>
                    </p>
                </div>
                <p style="color: gray;">
                    沿着运营运维输智化转型的旅程，携手将数智技术<br>
                    和创新带入运营运维每一个环节，引领智能新体<br>
                    验、新价值，构建万物互联的智能世界。
                </p>
            </div>
            <div class="trade1_3">
                <ul>
                    <li>
                        <p class="trade4">Zain与华为签署5.5G战略合作谅解备忘录， 加速集团数字化转型</p>
                        <p class="trade5">2022年3月22日</p>
                    </li>
                    <li>
                        <p class="trade4">华为获新加坡资媒局授予数据保护信任标志</p>
                        <p class="trade5">2022年3月16日</p>
                    </li>
                    <li>
                        <p class="trade4">华为和中国联通携手产业伙伴发布5G专网PLUS系列成果</p>
                        <p class="trade5">2022年3月11日</p>
                    </li>
                    <li>
                        <p class="trade4">华为联合中国移动等产业伙伴发布《5G -Advanced网络技术演进白皮书2.0》</p>
                        <p class="trade5">2022年3月10日</p>
                    </li>
                    <li>
                        <p class="trade4">"打破偏见"，华为庆祝2022国际妇女节</p>
                        <p class="trade5">2022年3月09日</p>
                    </li>
                </ul>
                <div class="know6">新 闻</div>
            </div>
        </div>
    </div>
    <div class="knows">
        <div class="know7">更多活动</div>
        <div class="know7">更多新闻</div>
    </div>
    <!-- index -->
    <div class="home">
        <div class="home1">
            <div class="home1_1">
                <p>首页</p>
                <p>
                    <span class="iconfont icon-search"></span>
                </p>
            </div>
            <div class="home2">
                <ul>
                    <li style="font-weight: bolder; font-size: 18px; color: black;">关于华为</li>
                    <li>公司简介</li>
                    <li>可持续发展</li>
                    <li>信任中心</li>
                    <li>管理层信息</li>
                    <li>招贤纳士</li>
                    <li>供应商</li>
                    <li>
                        <span>查看更多</span>
                        <span class="iconfont icon-youjiantou"></span>
                    </li>
                </ul>
                <ul>
                    <li style="font-weight: bolder; font-size: 18px;color: black;">新闻与活动</li>
                    <li>新闻</li>
                    <li>展会活动</li>
                    <li>媒体图库</li>
                </ul>
                <ul>
                    <li style="font-weight: bolder; font-size: 18px;color: black;">发现华为</li>
                    <li>HuaweiTech</li>
                    <li>出版物</li>
                </ul>
                <ul>
                    <li style="font-weight: bolder; font-size: 18px;color: black;">我们的产品</li>
                    <li>个人及家庭产品</li>
                    <li>企业业务产品</li>
                    <li>企业业务产品</li>
                    <li>华为云服务</li>
                </ul>
                <ul>
                    <li style="font-weight: bolder; font-size: 18px; color: black;">技术支持</li>
                    <li>消费者技术支持</li>
                    <li>华为云技术支持</li>
                    <li>企业技术支持</li>
                    <li>运营商技术支持</li>
                    <li>产品安全通告</li>
                </ul>
            </div>
            <div class="home3">
                <div class="home3_1">
                    <p style="margin-left: 0;">华为商城</p>
                    <p>华为云</p>
                    <p>华为智能光伏</p>
                    <p>产品定义社区</p>
                    <p>华为心声社区</p>
                </div>
                <div class="home3_2">
                    <span class="iconfont icon-xinlangweibo"></span>
                    <span class="iconfont icon-lingying"></span>
                    <span class="iconfont icon-weixin"></span>
                    <span class="iconfont icon-toutiaoyangshi"></span>
                    <span class="iconfont icon-zhihu-square-fill"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="base1">
            <span>©2022 华为技术有限公司 </span>
            <span>粤A2-20044005号 </span>
            <span>粤公网安备44030702002388号</span>
            <span>|</span>
            <span>联系我们</span>
            <span>法律声明</span>
            <span>隐私政策</span>
            <span>除名查询</span>
        </div>
    </div>
    <!-- 右侧固定定位图标 -->
    <div class="top">
       <img src="../img/index12.jpg">
    </div>
    <buttom id="but1">
        <div class="buttom">
            <img src="../img/index15.jpg">
        </div>
    </buttom>
    
</body>
<script src="../js/index.js"></script>
</html>