<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/particulars.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <!-- 顶部黑色通栏 -->
    <div class="head">
        <div class="head1">
            <div class="head1_1">
                <a href="./index.html" style="color: white;"><span>首页</span></a>

                <span>|</span>
                <span>华为官网</span><span>|</span>
                <span>花粉俱乐部</span><span>|</span>
                <span>V码（优购码）</span><span>|</span>
                <span>企业购</span><span>|</span> 
                <span>Select Region</span><span>首页</span>
                <span class="span1">
                    更多精彩
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
            </div>
            <div class="head1_2">
                <span>请登录</span><a href="./password.html" style="color: wheat;"><span>注册</span></a>
                <span class="head1_2_3">退出登录</span><span>|</span>
                <span class="span2">客户服务
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
                <span class="span2">网站导航
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
                <span class="span2">手机版
                    <span class="iconfont icon-xiajiantou1"></span>
                </span>
                <span class="span2">Select Region</span>

                <span style="background-color: rgb(19, 9, 9);" class="span2">
                    <span class="iconfont icon-gouwuche"></span>
                    <a href="./cart.html">购物车</a></span>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="logo1">
            <div class="logo1_1">
                <img src="../img/shopping.jpg">
            </div>
            <div class="logo1_2">
                <span>
                    <span class="iconfont icon-fenlei"></span>
                    全部商品分类</span>
                <span>华为专区</span>
                <span>莫塞尔</span>
                <span>华为智选</span>
                <span>鸿蒙智联</span>
                <span>HarmonyOS</span>
            </div>
            <form class="logo1_3">
                <input type="text" placeholder="nove5 p50">
                <span class="iconfont icon-ic_search24px"></span>
                <ul class="logo1_3_1">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                </ul>
            </form>
        </div>
    </div>

    <!-- 分类 -->
    <div class="list">
        <!-- logo1_2商品分类 隐藏区域 -->
        <ul class="logo2_1">
            <li class="logo2_1_1">
                <span>手机</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>智能穿戴&VR</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>耳机音箱眼镜</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>智慧屏</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>电脑</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>平板</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>智能路由</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>配件</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>生态产品</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>家用电器</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>美食酒饮</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
            <li>
                <span>增值服务&企业商用</span>
                <span class="iconfont icon-youjiantou"></span>
            </li>
        </ul>

        <div class="logo2">
            <!-- 手机 logo2_1_1隐藏区域-->
            <ul class="logo2_2 ">
                <li>
                    <div class="logo2_2_1">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/14651510730611515641.png">
                    </div>
                    HUAWEI mate系列
                </li>
                <li>
                    <div class="logo2_2_1">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/Dfv6Z1jNUpkSdQEfjU40.png">
                    </div>
                    HUAWEI P系列
                </li>
                <li>
                    <div class="logo2_2_1">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/15326212642611262351.png">
                    </div>
                    HUAWEI nova系列
                </li>
                <li>
                    <div class="logo2_2_1">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/wJHIfRVWj3kjLp9RoTBN.png">
                    </div>
                    HUAWEI畅想系列
                </li>
                <li>
                    <div class="logo2_2_1">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/53064196392619146035.png">
                    </div>
                    HUAWEI认证二手机
                </li>
                <li>
                    <div class="logo2_2_1">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/10543887972618834501.png">
                    </div>
                    手机配件
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!-- 智能穿戴&VR logo2_1_2隐藏区域-->
            <ul class="logo2_3">
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/97847210083611274879.png">
                    </div>
                    智慧科技
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/37562640083614626573.png">
                    </div>
                    经典全能
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/02057435183613475020.png">
                    </div>
                    专业极致
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/69110435183613401196.png">
                    </div>
                    时尚潮流
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/76199415183611499167.png">
                    </div>
                    健康守护
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/7rB1eW3yTzlmsJxUhz4o.png">
                    </div>
                    VR眼镜
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/17344023353612044371.png">
                    </div>
                    智能眼镜
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/84699725183612799648.png">
                    </div>
                    穿戴配件
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/10543887972618834501.png">
                    </div>
                    手机配件
                </li>
                <li>
                    <div class="logo2_2_2">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/98863233611613236889.png">
                    </div>
                    运动健身
                </li>
            </ul>
            <!-- 耳机音箱眼镜 logo2_1_3隐藏区域-->
            <ul class="logo2_5">
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/62195671320617659126.png">
                    </div>
                    真无线耳机
                </li>
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/37562640083614626573.png">
                    </div>
                    有线耳机
                </li>
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/02057435183613475020.png">
                    </div>
                    蓝夜耳机
                </li>
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/69110435183613401196.png">
                    </div>
                    蓝牙音箱
                </li>
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/76199415183611499167.png">
                    </div>
                    智能眼镜
                </li>
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/7rB1eW3yTzlmsJxUhz4o.png">
                    </div>
                    智能音箱
                </li>
                <li>
                    <div class="logo2_2_4">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/17344023353612044371.png">
                    </div>
                    学习智慧屏
                </li>
                <li>

                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
            <!-- 智慧屏 隐藏区域 -->
            <ul class="logo2_4">
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/98026191672619162089.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/00926602412610662900.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/jCygCJMv6ginekIsCBmu.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/61726998961619962716.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/12138998961619983121.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/35171438691613417153.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/38340219912611204383.png">
                    </div>
                    华为智慧屏系列
                </li>
                <li>
                    <div class="logo2_2_3">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/32882511063611528823.jpg">
                    </div>
                    穿戴配件
                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
            <!-- 电脑 隐藏区域 -->
            <ul class="logo2_6">
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/54858153304615185845.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/12514231412613241521.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/tDI1s1C6u0UNK3kpjX35.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/72846645173614664827.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/10973011412611037901.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/91536469069516463519.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/05496773513617769450.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/30712873513617821703.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/76194353489515349167.png">
                    </div>
                    个人电脑配件
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/53990553489515509935.jpg">
                    </div>
                    电脑包
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/54858153304615185845.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_5">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/12514231412613241521.png">
                    </div>
                    华为Mate book系列
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!-- 平板隐藏 区域 -->
            <ul class="logo2_7">
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/33987645173614678933.png">
                    </div>
                    华为MatePa系列
                </li>
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/97572401243610427579.png">
                    </div>
                    华为MatePa系列
                </li>
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/48419031243613091484.png">
                    </div>
                    华为MatePa系列
                </li>
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/02195131243613159120.png">
                    </div>
                    华为MatePa系列
                </li>
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/21657453489515475612.png">
                    </div>
                    平板配件
                </li>
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/91536469069516463519.png">
                    </div>
                    华为Mate book系列
                </li>
                <li>
                    <div class="logo2_2_6">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/05496773513617769450.png">
                    </div>
                    华为Mate book系列
                </li>
            </ul>
            <!-- 智能路由 隐藏区域 -->
            <ul class="logo2_8">
                <li>
                    <div class="logo2_2_7">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/CSkYxTgopbtV6bLHOxWq.png">
                    </div>
                    无线路由
                </li>
                <li>
                    <div class="logo2_2_7">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/httvqlH4j44xjH2Fkoeb.png">
                    </div>
                    全屋路由
                </li>
                <li>
                    <div class="logo2_2_7">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/39709729381612790793.png">
                    </div>
                    移动路由
                </li>
                <li>
                    <div class="logo2_2_7">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/02195131243613159120.png">
                    </div>
                    华为MatePa系列
                </li>
            </ul>
            <!-- 配件 隐藏区域 -->
            <ul class="logo2_9">
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/iXXgaQhk3RhRNcb3dUhX.png">
                    </div>
                    充电器
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/jSg15QyIzY9GE4mVOHaI.jpg">
                    </div>
                    移动电源
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/UkPqRhFdsfuw0Mgon0lW.png">
                    </div>
                    自拍架
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/e7VsKW9NLDvxDXhBMFZD.png">
                    </div>
                    摄像机/镜头
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/RyT80PAF3dD0VUy9XTgz.png">
                    </div>
                    保护壳
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/nxlajbLtHHaH00OhSaAv.png">
                    </div>
                    保护套
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/UWVgAL2WFNeoVHZRRE8s.png">
                    </div>
                    贴膜
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/Xqw5avmFrpr7LGyNTZE0.png">
                    </div>
                    电脑配件
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/CSkYxTgopbtV6bLHOxWq.png">
                    </div>
                    无线路由
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/httvqlH4j44xjH2Fkoeb.png">
                    </div>
                    全屋路由
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/39709729381612790793.png">
                    </div>
                    移动路由
                </li>
                <li>
                    <div class="logo2_2_8">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/02195131243613159120.png">
                    </div>
                    华为MatePa系列
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!-- 生态产品 隐藏区域 -->
            <ul class="logo2_10">
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/iXXgaQhk3RhRNcb3dUhX.png">
                    </div>
                    充电器
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/jSg15QyIzY9GE4mVOHaI.jpg">
                    </div>
                    移动电源
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/UkPqRhFdsfuw0Mgon0lW.png">
                    </div>
                    自拍架
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/e7VsKW9NLDvxDXhBMFZD.png">
                    </div>
                    摄像机/镜头
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/RyT80PAF3dD0VUy9XTgz.png">
                    </div>
                    保护壳
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/nxlajbLtHHaH00OhSaAv.png">
                    </div>
                    保护套
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/UWVgAL2WFNeoVHZRRE8s.png">
                    </div>
                    贴膜
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/Xqw5avmFrpr7LGyNTZE0.png">
                    </div>
                    电脑配件
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/CSkYxTgopbtV6bLHOxWq.png">
                    </div>
                    无线路由
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/httvqlH4j44xjH2Fkoeb.png">
                    </div>
                    全屋路由
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/39709729381612790793.png">
                    </div>
                    移动路由
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/02195131243613159120.png">
                    </div>
                    华为MatePa系列
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!-- 家用电器 隐藏区域 -->
            <ul class="logo2_10">
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/86922679232617622968.png">
                    </div>
                    充电器
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/12487679232617678421.png">
                    </div>
                    移动电源
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/49720779232617702794.png">
                    </div>
                    自拍架
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/78312182332618121387.png">
                    </div>
                    摄像机/镜头
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/55503592332619530555.png">
                    </div>
                    保护壳
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/77148482732618484177.png">
                    </div>
                    保护套
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/30018403332610481003.png">
                    </div>
                    贴膜
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/52380123332612108325.png">
                    </div>
                    电脑配件
                </li>
                <li>
                    <div class="logo2_2_9">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/CSkYxTgopbtV6bLHOxWq.png">
                    </div>
                    无线路由
                </li>

                <li></li>

            </ul>
            <!-- 美食酒饮 隐藏区域 -->
            <ul class="logo2_11">
                <li>
                    <div class="logo2_2_10">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/55741948201614914755.png">
                    </div>
                    甄选美酒
                </li>
                <li>
                    <div class="logo2_2_10">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/59609058201615090695.png">
                    </div>
                    甄选良品
                </li>
                <li>
                    <div class="logo2_2_10">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/60806303811610360806.png">
                    </div>
                    精选好物
                </li>
                <li>
                    <div class="logo2_2_10">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/78312182332618121387.png">
                    </div>
                    摄像机/镜头
                </li>
            </ul>
            <!-- 增值服务&企业商用 -->
            <ul class="logo2_12">
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/ZQnJL2WVUmZvVDkFIDRE.png">
                    </div>
                    甄选美酒
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/druWEKy6zCanbd02FQhl.png">
                    </div>
                    甄选良品
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/qTEFwRvC8TEQ6qyHvIoB.png">
                    </div>
                    精选好物
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/ppk5HSXix5wsEv4KY0KQ.png">
                    </div>
                    摄像机/镜头
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/8J0Q5RpbK23FoBD4nX2h.png">
                    </div>
                    甄选良品
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/9xgKp8DlHGYOJTcuc4Qx.png">
                    </div>
                    精选好物
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/96313949890614931369.png">
                    </div>
                    摄像机/镜头
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/32369229421612296323.png">
                    </div>
                    甄选良品
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/navigation/alMghfvLjM8qE4wuTjY4.png">
                    </div>
                    精选好物
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/78062287251618226087.png">
                    </div>
                    摄像机/镜头
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/81045402362610454018.png">
                    </div>
                    甄选良品
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/67503871212617830576.png">
                    </div>
                    精选好物
                </li>
                <li>
                    <div class="logo2_2_11">
                        <img src="https://res.vmallres.com/pimages//pages/frontCategory/78312182332618121387.png">
                    </div>
                    摄像机/镜头
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- 渲染 js -->
    <div class="details">
        <div class="details1">
            <span>首页</span>
            <span class="iconfont icon-youjiantou"></span>
            <span>手机</span>
            <span class="iconfont icon-youjiantou"></span>
            <span class="details1_1"></span>
        </div>
        <div class="details2">
            <div class="details2_1" id="details2_5">
                <div class="top">
                    <img src="https://res.vmallres.com/pimages//uomcdn/CN/pms/202203/gbom/6941487256372//428_428_D41DCC94EF9BCA97F5B4F72F782A4ED4mp.png">
                    <div class="mask"></div> 
                </div>
                <div class="buttom">
                    <div class="details2_2">
                        <img src="https://res.vmallres.com/pimages//uomcdn/CN/pms/202203/gbom/6941487256372/78_78_D41DCC94EF9BCA97F5B4F72F782A4ED4mp.png">
                    </div>
                    <div class="details2_2">
                        <img src="https://res.vmallres.com/pimages//uomcdn/CN/pms/202203/gbom/6941487256372/78_78_D41DCC94EF9BCA97F5B4F72F782A4ED4mp.png">
                    </div>
                    <div class="details2_2">
                        <img src="https://res.vmallres.com/pimages//uomcdn/CN/pms/202203/gbom/6941487256372/78_78_D41DCC94EF9BCA97F5B4F72F782A4ED4mp.png">
                    </div>
                </div>
                
            </div>
            <div class="details3">
                <div class="enlarge">
                    <img src="https://res.vmallres.com/pimages//uomcdn/CN/pms/202203/gbom/6941487256372//428_428_D41DCC94EF9BCA97F5B4F72F782A4ED4mp.png">
                </div>
                <p>HUAWEI P50 Pro 骁龙888 4G全网通 8GB+256G 星河蓝</p>
                <P>
                    <span>价格</span><span>￥</span><span>5988</span>
                </P>
                <P>
                    <span>促销</span><span>赠送积分</span><span>购买即赠商城积分，积分可抵现~</span>
                </P>
                <P>
                    <span>服务说明</span><span>预计2022-4-13前完成发货</span><br>
                    <span class="iconfont icon-youjiantou-sange"></span>
                    <span>购满48元包邮</span>
                    <span class="iconfont icon-youjiantou-sange"></span>
                    <span>由华为终端提供商品、发货开票及售后服务</span>
                </P>
                <p>
                    <span>商品编码</span><span>2601010289538</span>
                </p>
                <p>
                    <span>选择套餐</span><span> 官 方 标 配</span>
                </p>
                <p>
                    <span>保障服务</span><span>华为无忧服务￥299</span><span>延长服务宝服务￥199</span>
                </p>
                <p>
                    <span>已选择商品</span><span>HUAWEI P50 Pro 骁龙888 4G全网通 8GB+256G 星河蓝</span>
                </p>
                <div class="d1">
                    <div class="quantity">
                        <div class="quantity1">
                            1
                        </div>
                        <div class="quantity2">
                            <button class="quantity2_1">+</button>
                            <button class="quantity2_2">-</button>
                        </div>
                    </div>
                    <div class="d2" >加入购物车</div>
                    <div class="d3">立即下单</div>
                </div>
            </div>
        </div>
        <div class="d4">
            <div class="d5">
                <span>恭喜你发现宝藏！成功将HUAWEI P50 Pro 骁龙888 4G全网通 8GB+256G 星河蓝加入购物车！</span>
                
               <div class="d6">
                    <div class="d5_1">在逛逛</div>
                    
                        <div class="d5_2"><a href="./cart.html"></a>前往购物车</a></div>
                    
                    
               </div>
               
                
            </div>
        </div>
    </div>
    <div class="right">
        <ul>
           <a href="./cart.html">
            <li>
                <span class="iconfont icon-gouwuche "></span>
                <p>购物车</p>
            </li>
           </a> 
            <li>
                <span class="iconfont icon-kefu" style="font-size: 25px;"></span>
                <p>在线客服</p>
            </li>
            <li>
                <span class="iconfont icon-yongxinfuwu"></span>
                <p>自助服务</p>
            </li>
        </ul>
    </div>
</body>
<script src="../js/data.js"></script>
<script src="../js/particulars.js"></script>

</html>